
*{
    box-sizing: border-box;
}

.row 
{
  display: flex;
  padding: 10px 19px;
  justify-content: center;
  align-items: flex-start;
  margin-left: 60px;
  margin-right: 60px;
  gap: 10px;
  position:relative;
}

a:hover
{
  color:#DFD6C3;
  opacity: 1;
  font-size: larger;
}  

a
{
background: #2e595c00;
color:#DFD6C3;
}

#clickable:hover
{
  cursor: pointer;
}

#a:hover 
{
  background: rgba(196, 214, 214, 0.888);    
  cursor: pointer;
  /* width: 275px;
  height: 415px; */
}

/* ---------- Header style ---------- */

#backgroundHeader
{
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background: rgba(9, 50, 52, 0.559);    
    position: absolute;
}

.SearchBackground
{
  /* background: url(SearchBackground.png);  */

  width: 1440px;
  height: 400px; 
  /* position: relative; */
}

header 
{
    /* background-color: #f1f1f1; */
    font-size: 10px; 
    font-weight: bold;
    top: 0px;
    transition: 0.2s;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    left: 0px;
}

.logo
{
  position: absolute;
  width: 276px;
  height: 100px;
  left: 680px;
  z-index: 1;
  filter: drop-shadow(0px 9px 38px #000000)  
}


/*Home Shop Category*/
.MenuLayout
{
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 59px;
  padding-left: 20px;
}

.menuBar
{
  font-size: 24px;
  top:0px;
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration-line: underline;
  color: #DFD6C3;
  text-shadow: 0px 4px 15px #000000;
  order: 0;
  flex-grow: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  justify-content: left;
}


/* ---------- search ---------- */
.search
{
  position: absolute;
  left: 1170px;
  display: flex;
  width: 72px;
  height: 28px;
  flex-direction: column;
  flex-shrink: 0;
  top: 5px;
}

#searchIcon
{
  width: 30px;
  height: 30.003px;
  flex-shrink: 0;
  position: absolute;
  left: 1110px;
  top: 14px;
}

#line
{
  background:#DFD6C3 ;
  fill: #DFD6C3;
  stroke-width: 3px;
  stroke: var(--d-9-d-9-d-9, #DFD6C3);
  stroke-linecap:round;
  fill:none;
  filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.25));
  position: absolute;
  left: 1120px;
  top: 60px;
  width: 220px;
  height: 3px;
}


.rowIcon
  {
    display: flex;
    text-align: left;
    margin-left: 1410px;
    flex-direction: row;
    gap: 0px;
    position:absolute;
  }

/* ---------- End of Header style ---------- */



/* ---------- Main content style ---------- */

.BestSellerBG
{
  position: absolute;
  /* , lightgray -60.722px 0px / 115.102% 100% no-repeat; */
  width: 490px;
  height: 727px;
  top: 340px;
  left: 1050px;
  transform: rotate(-79.495deg);
  flex-shrink: 0;
}

.shopButton
{
  position: absolute;
  /* bottom: 10px; */
  /* left: 50%; */
  font-family: Josefin Sans;
  transform: translateX(-50%);
  width: 234px;
  height: 48px;
  margin-top: 320px;
  /* margin-left: 170px; */
  margin-left: 1000px;
  font-size: 24px;
  /* padding: 10px; */
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #c2b7a1;
  background: #1F494C;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  /* opacity: 0; */

/* position: absolute;
width: 234px;
height: 48px;
margin-top: 100px;
margin-left: 700px; */
/* left: 25px;
top: 250px; */
/* z-index: 1; */
/* float: center;
background: #1F494C;
border-radius: 5px;
color: var(--dfd-6-c-3, #DFD6C3);
text-align: center;
text-shadow: 0px 4px 15px 0px #000;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal; */
}


/* Coffee is a Culture, Life and Passion */
#msgCoffee
{
  position: absolute;
  left: 52px;
  top: 130px;
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  color:#DFD6C3;
  text-shadow: 0px 4px 4px rgba(97, 95, 89, 0.34);
}
  /* Style the counter cards */



  /* .card 
  {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 13px;
      margin: 20px;
      text-align: center;
      width: 240px;
      height: 307px ;
      flex-shrink: 0;
      border-radius: 2px;
      background: #E3EEEB;
      z-index: 5;
  } */
  
  #productName
  {
      display: flex;
      flex-direction: column;
      justify-content: left;
      flex-shrink: 0;
      color: #1F4C47;
      text-align: left;
      font-family: Old Standard TT;
      font-size: 30px;
      font-style: italic;
      padding-top: 0px;
  }
  
  #price
  {
      justify-content: right;
      color: #1F4C47;
      width: 40px;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      float: right;
  }
  
  #productDetails
  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: #878484;
      font-family: Harmattan;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
  }

  .hr-lines
  {
    position: relative;
    font-size: 30px;
    color: #1F4C47;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    z-index: 2;
  }
  
  .hr-lines:before
  {
    content:" ";
    height: 2px;
    width: 130px;
    background:#1F4C47;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 130px;
    background:#1F4C47;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }

/* card slidershow */
/* PRODUCTS */

.product {
    position: absolute;
    overflow: hidden;
    padding: 10px;
    margin-top: 520px;
    /* margin-left: 300px; */
    /* width: 800px; */
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }

  
  .product-card {
    flex: 0 0 auto;
    width: 270px;
    height: 410px;
    margin-right: 40px;
    background: #E3EEEB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 13px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    /* text-align: center; */
  }
  
  .product-container {
    /* padding: 0 10vw; */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .heartIcon
  {
    /* margin-left: 170px; */
    /* padding-bottom: 20px; */
    /* position: absolute; */
    float: right;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  
  .product-thumb {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    object-fit: cover;
  }
  
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn 
  {
    opacity: 1;
  }
  
 .card-btn:hover {
    background: #2e595c;
    color: #fff;
  }

  .shopButton:hover
  {
    opacity: 1;
    background: #2e595c;
    color:#DFD6C3;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    /* text-transform: uppercase; */
    padding: 0px;
    justify-content: right;
    color: #1F4C47;
    width: 40px;
    font-size: 30px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    float: left;
  }
  
  .product-short-description {
    width: 100%;
    /* height: 20px; */
    /* line-height: 20px; */
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 0px;
    padding-top: 0px;
  }
  
  .price {
    font-weight: 900;
    font-size: 28px;
    float: right;
    color: #1F4C47;

  }
  
  .actual-price {
    margin-left: 210px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 5vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(223, 42, 42, 0) 0%, rgba(9, 50, 52, 0.559)  100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }




/* ---------- End of Main content style ---------- */


/* ---------- Footer style ---------- */
footer 
{
  position: absolute;
  left: 0px;
  top: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1F494C;
}


/*footer content*/
.footerContent
{
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #DFD6C3;
  text-shadow: 0px 4px 15px #000000;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 10px;
  z-index: 1;      
}


/* ---------- End Footer style ---------- */




@media only screen and (min-width: 100px)
  {
    /* For mobile phones: */
    .SearchBackground, footer, #backgroundHeader, .menuBar, 
    #msgCoffee1, header, .column,.product 
    {
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px)
{
    /* For mobile phones: */
    .product

    {
        width: 100%;
    }
}



/* For Mobile Devices */
@media screen and(max-width:767px)
{
    .flex-container{flex-direction: column;}
    .flex-item{width:100%;}
}
/* For Tablets */
@media screen and(min-width:768px) and (max-width:1023px)
{
    .flex-container{flex-direction: row;flex-wrap: wrap;}
    .flex-item{width:50%;}
}
/* For Desktops */
@media screen and(min-width:1024px)
{
    .flex-container{flex-direction: row;flex-wrap: wrap;}
    .flex-item{width:33.33%;}
}

